/* GENERAL STYLES */
html {
	min-height: 100%;
}

body {
	width: 100%;
	background-image: url(../img/san-francisco-bg.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
	padding: 10px;
	color: white !important;
	font-family: 'Oswald', sans-serif !important;
	font-size: 60px !important;
	text-decoration: underline;
}

p {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	padding: 10px;
}

#alert-font {
	color: black;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	padding: 10px;
}


/* BACKGROUND IMAGES */
#bg1 {
	width: 100%;
	background: url('../img/nashville-bg.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#bg2 {
	width: 100%;
	background: url('../img/boston-bg.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#bg3 {
	width: 100%;
	background: url('../img/miami-bg.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#bg4 {
	width: 100%;
	background: url('../img/nyc-bg.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#bg5 {
	width: 100%;
	background: url('../img/austin-bg.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#bg6 {
	width: 100%;
	background: url('../img/chicago-bg.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#bg7 {
	width: 100%;
	background: url('../img/new-orleans-bg.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#bg8 {
	width: 100%;
	background: url('../img/san-francisco-bg.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/* ADDRESS PANEL STYLES */
#address-panel {
	width: 80%;
	height: auto;
	margin: auto;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 10px;
	margin-top: 80px;
	border: solid rgba(0, 0, 0, 0.25) 10px;
}

.btn-primary {
	margin-bottom: 20px;
}

.alert-light {
	margin-top: 20px;
	display: none;
}

.alert-danger {
	margin-top: 20px;
	display: none;
}
